# Set SELinux to Permissive
on early-init
    write /sys/fs/selinux/enforce 0

on init
    start boot-hal-1-2

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    setprop sys.usb.config adb

on property:twrp.modules.loaded=true
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start health-hal-2-1

# Symlink Flashlight
#on property:twrp.modules.loaded=true
#    symlink /sys/class/leds/led:torch/brightness /system/etc/flashlight/brightness
#
